<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>

    <!-- CSS za Blazorise Bootstrap -->
    <link rel="stylesheet" href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" />

    <!-- Ostali CSS fajlovi -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Hair.ClientUI.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_content/Blazorise/blazorise.js"></script>
<script src="_content/Blazorise.Bootstrap/blazorise.bootstrap.js"></script>

<!-- Blazor Framework Skripta -->
<script src="_framework/blazor.web.js"></script>
</body>

</html>